[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
autopep8 = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "2.7"
